body {
    background: #000;
    font-family: "font1";
    font-size: 28px;
    color: #FFF;
}
.main_table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.title{
    text-align: center;
    animation: blink 3s infinite;
}
.center{
    text-align:center;
}
.small{

}
@keyframes blink{
    0%, 100% {text-shadow: 0px 0px 20px goldenrod, 0px 0px 20px goldenrod, 0px 0px 20px goldenrod}
    50%      {text-shadow: 0px 0px 0px goldenrod}
}
@keyframes blink_box{
    0%, 100% {box-shadow: 0px 0px 20px goldenrod, 0px 0px 20px goldenrod, 0px 0px 20px goldenrod}
    50%      {box-shadow: 0px 0px 0px goldenrod}
}
 table, th, td, tr {
     color: white;
     text-shadow: 0px 2px 5px black;
     padding: 5px;
 }
th {
    background-color: #444;
    color: white;
}
td {
    text-align: center;
}
tr:nth-child(odd) {
    background-color: #444;
}
tr:nth-child(even) {
    background-color: #222;
}
tr:nth-child(2) {
    background-color: gold;
    animation: blink_box 3s infinite;
    color: black;
}
tr:nth-child(3) {
    background-color: silver;
}
tr:nth-child(4) {
    background-color: #ac6a35;
}
 .table_th {
     width: 180px;
 }
@font-face {
    font-family: font1;
    src: url('assets/fonts/hachicro.ttf');
}